<!DOCTYPE html>
<html>
<head>
	<title>Flash Message</title>
</head>
<body>
<!-- multiptle message -->
     <ul>
       <% if(messages()) { %>
       <% messages().forEach((msg) => { %>
         <li> <%= msg %> </li>
       <%})%>
      <%}%>
    </ul>

    <form action="/flash" method="post" encytpe="application/x-www.urlencoded">
			<labek for="username">Username</label>
    	<input type="text" name="username" placeholder="enter username"/>
    	<input type="submit" value="login"/>
    </form>

</body>
</html>
